gui-base/RORI_XML_Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <xs:element name="RORI">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="ORGANIZATIONS">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="organization">
                                                   <xs:complexType>
                                                         <xs:attribute name="id" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="name" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="description" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="id_equipments" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="xpath" type="xs:string"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="EQUIPMENTS">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="equipment" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:attribute name="id" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="name" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="type" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="AEV" type="xs:decimal"></xs:attribute>
                                                         <xs:attribute name="xpath" type="xs:string"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="COUNTERMEASURES">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="countermeasure" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:attribute name="id" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="name" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="description" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="totally_restrictive" type="xs:boolean"></xs:attribute>
                                                         <xs:attribute name="restriction" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="id_equipment" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="id_rm" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="id_arc" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="xpath" type="xs:string"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="RISK_MITIGATION">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="rm" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:attribute name="id" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="EF" type="xs:decimal"></xs:attribute>
                                                         <xs:attribute name="COV" type="xs:decimal"></xs:attribute>
                                                         <xs:attribute name="RM" type="xs:decimal"></xs:attribute>
                                                         <xs:attribute name="xpath" type="xs:string"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="ANNUAL_RESPONSE_COST">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="arc" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:attribute name="id" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="COM" type="xs:decimal"></xs:attribute>
                                                         <xs:attribute name="COI" type="xs:decimal"></xs:attribute>
                                                         <xs:attribute name="ODC" type="xs:decimal"></xs:attribute>
                                                         <xs:attribute name="IC" type="xs:decimal"></xs:attribute>
                                                         <xs:attribute name="total" type="xs:decimal"></xs:attribute>
                                                         <xs:attribute name="xpath" type="xs:string"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="INCIDENTS">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="incident">
                                                   <xs:complexType>
                                                         <xs:attribute name="id" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="name" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="description" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="risk_level" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="id_countermeasure" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="id_organization" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="id_ale" type="xs:int"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="ANNUAL_LOSS_EXPECTANCY">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="ale">
                                                   <xs:complexType>
                                                         <xs:attribute name="id" type="xs:int"></xs:attribute>
                                                         <xs:attribute name="LA" type="xs:decimal"></xs:attribute>
                                                         <xs:attribute name="LD" type="xs:decimal"></xs:attribute>
                                                         <xs:attribute name="LR" type="xs:decimal"></xs:attribute>
                                                         <xs:attribute name="LP" type="xs:decimal"></xs:attribute>
                                                         <xs:attribute name="LREC" type="xs:decimal"></xs:attribute>
                                                         <xs:attribute name="LRPC" type="xs:decimal"></xs:attribute>
                                                         <xs:attribute name="OL" type="xs:decimal"></xs:attribute>
                                                         <xs:attribute name="CI" type="xs:decimal"></xs:attribute>
                                                         <xs:attribute name="ARO" type="xs:decimal"></xs:attribute>
                                                         <xs:attribute name="total" type="xs:decimal"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                <!--******************************************************--> 
                <!--******************************************************-->
		<!-- OUTPUT Element Generated by the RORI evaluation tool -->
                <!--******************************************************-->
                <!--******************************************************-->
                           <xs:element name="OUTPUT">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="INDIVIDUAL">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="rori_individual" maxOccurs="unbounded">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="best" type="xs:boolean"></xs:attribute>
                                                                           <xs:attribute name="id_countermeasure" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="id_incident" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="id_organization" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="rori_index" type="xs:decimal"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="COMBINED">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="rori_combined" maxOccurs="unbounded">
                                                                     <xs:complexType>
                                                                           <xs:attribute name="best" type="xs:boolean"></xs:attribute>
                                                                           <xs:attribute name="id_countermeasure" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="id_incident" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="id_organization" type="xs:int"></xs:attribute>
                                                                           <xs:attribute name="rori_index" type="xs:decimal"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
                     <xs:attribute name="xmlns:xsi" type="xs:string"></xs:attribute>
               </xs:complexType>
         </xs:element>
   </xs:schema>
